@import '../../tokens.css';

.ds-Card {
  display: flex;
  align-items: center;
  padding-left: 12px;
  border: 1px solid var(--color-neutral-gray-300);
  border-radius: var(--border-radius-md);
  overflow: hidden;
  cursor: pointer;
  transition: box-shadow 0.2s ease;
  background-color: var(--color-neutral-white);
}

.ds-Card:hover {
  box-shadow: var(--shadow-md);
}

.ds-Card__icon-placeholder {
  width: 25%; /* Même largeur que l'ancienne image */
  display: flex;
  justify-content: center;
  align-items: center;
}

.ds-Card__content {
  flex: 1; /* Le reste */
  padding: var(--spacing-md);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ds-Card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--spacing-sm);
}

.ds-Card__title {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-semibold);
  color: var(--color-neutral-black);
  margin: 0;
  flex: 1;
}

.ds-Card__chevron {
  color: var(--color-neutral-gray-600);
  margin-left: var(--spacing-sm);
}

.ds-Card__meta {
  display: flex;
  align-items: center;
  margin-bottom: var(--spacing-sm);
  font-size: var(--font-size-sm);
  color: var(--color-neutral-gray-700);
}

.ds-Card__separator {
  margin: 0 var(--spacing-xs);
}

.ds-Card__location {
  font-size: var(--font-size-sm);
  color: var(--color-neutral-gray-700);
}