@import '../../tokens.css';

.ds-Date {
  display: flex;
  align-items: center;
  color: var(--color-neutral-black);
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-semibold);
  line-height: var(--line-height-normal);
}

.ds-Date__icon {
  margin-right: var(--spacing-sm);
}
