@import '../../tokens.css';

.ds-TextInput {
  background-color: var(--color-neutral-gray-200);
  color: var(--color-neutral-gray-600);
  border: none;
  border-radius: var(--border-radius-sm);
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-medium);
  padding: var(--spacing-sm) var(--spacing-sm);
}

.ds-TextInput:focus-visible {
  outline: 0;
  box-shadow: 0 0 0 var(--border-width-focus) var(--color-focus-ring);
}

.ds-TextInput--disabled {
  opacity: var(--opacity-disabled);
  background-color: var(--color-primary-light);
  cursor: not-allowed;
}
