@import '../../tokens.css';

.ds-Button {
  background-color: var(--color-primary-main);
  color: var(--color-neutral-white);
  border: none;
  border-radius: var(--border-radius-sm);
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-semibold);
  line-height: var(--line-height-normal);
  cursor: pointer;
}

.ds-Button:hover:not(.ds-Button--disabled) {
  filter: brightness(1.1);
}

.ds-Button:focus-visible {
  outline: 0;
  box-shadow: 0 0 0 var(--border-width-focus) var(--color-focus-ring);
}

.ds-Button--disabled {
  opacity: var(--opacity-disabled);
  background-color: var(--color-primary-light);
  cursor: not-allowed;
}

.ds-Button--small {
  padding: var(--spacing-sm) var(--spacing-md);
  font-size: var(--font-size-xs);
}

.ds-Button--medium {
  padding: var(--spacing-sm) var(--spacing-md);
  font-size: var(--font-size-sm);
}

.ds-Button--large {
  padding: var(--spacing-sm) var(--spacing-md);
  font-size: var(--font-size-base);
}

.ds-Button--primary-color {
  background-color: var(--color-primary-main);
}

.ds-Button--secondary-color {
  background-color: var(--color-neutral-white);
  color: var(--color-primary-main);
  border: 1px solid var(--color-primary-main);
}