@import '../../tokens.css';

.ds-TextWithIcon {
  display: flex;
  align-items: center;
  color: var(--color-neutral-black);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-normal);
}

.ds-TextWithIcon--left .ds-TextWithIcon__icon {
  margin-right: var(--spacing-sm);
}

.ds-TextWithIcon--right .ds-TextWithIcon__icon {
  margin-left: var(--spacing-sm);
}

.ds-TextWithIcon__text {
  flex: 1;
}

.ds-TextWithIcon__text--sm {
  font-size: var(--font-size-sm);
}

.ds-TextWithIcon__text--md {
  font-size: var(--font-size-md);
}

.ds-TextWithIcon__text--lg {
  font-size: var(--font-size-lg);
}

.ds-TextWithIcon__text--xl {
  font-size: var(--font-size-xl);
}

.ds-TextWithIcon__text--xxl {
  font-size: var(--font-size-xxl);
}




